body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent scrollbars */
  width: 100%; /* full width */
  height: 100%; /* full height */
  background-color: grey;
}

.app-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute; /* for absolute positioning of child elements */
}

#root {
  width: 100%;
  height: 100%;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

h1{
  color:rgba(134, 16, 138, 0.61);
  font-weight: 900;
}

